<form>
  <%= form_for @url do |f| %>
      <%= f.label :original %>
      <%= f.text_field :original %>
    <%= f.submit "Shorten it!" %>
  <% end %>
</form>
<br>
<% if @urls.any? %>
<table class="table table-striped">
  <tr>
    <th>URL</th>
    <th>Key</th>
    <th>Shortened</th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.original %></td>
      <td><%= url.key %></td>
      <td><%= url.shortened %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <h2>No URL's created yet</h2>
<% end %>