<%= form_for @url do |f| %>
  <%= f.label :original %>
  <%= f.text_field :original %>
  <%= f.submit "Shorten it!" %>
<% end %>
<br>
<% if @urls.any? %>
  <% @urls.each do |url| %>
    URL: <%= url.original %> Key: <%= url.key %> Shortened: <%= url.shortened %>
  <% end %>
<% else %>
  <h2>No URL's created yet</h2>
<% end %>